{% extends "::base.html.twig" %}
{% set seo_title = status_text %}

{% block body %}
<section class="default">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>{{ status_text }}</h1>
        <p>Need some Help? Try going back <a href="{{ path('home') }}" title="home">home</a>.</p>
    </div>
</section>
{% endblock %}

