{% extends 'AdminBundle::admin-layout.html.twig' %}
{% set content_title = title %}

{% block breadcrumbs %}
    <li class="active">{{ content_title }}</li>
{% endblock %}

{% block content -%}
    {# Content Form #}
    {{ include("JJAdminBundle:Templates:content-template.html.twig") }}

    {# SEO Form #}
    {% if seo %}
        {{ include("JJAdminBundle:Templates:seo-template.html.twig") }}
    {% endif %}

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="/js/admin/jquery.tablednd.js"></script>
    {% block page_scripts %}{% endblock %}
{% endblock %}
