<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="{{ path('admin_content', {'adminRoute': admin_route, 'route': route}) }}" method="post">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Page Content</h3>
            </div>
            <div class="panel-body">
                {% for field in fields %}
                    <div class="form-group">
                        <label for="{{ field.metaName }}">{{ field.metaName }}</label>

                        {% if field.metaType == 'text' %}
                            <input type="text" name="{{ field.metaName }}" value="{{ field.metaValue }}" class="form-control" />
                        {% elseif field.metaType == 'wysiwyg' %}
                            <textarea id="content-editor" name="{{ field.metaName }}">{{ field.metaValue }}</textarea>
                        {% elseif field.metaType == 'textarea' %}
                            <textarea name="{{ field.metaName }}" class="form-control">{{ field.metaValue }}</textarea>
                        {% elseif field.metaType == 'image' %}
                            <input type="text" name="{{ field.metaName }}" value="{{ field.metaValue }}" class="form-control" />
                            {% if asset(field.metaValue) ==  '/' %}{% else %}
                                <div class="thumb-preview" style="width:6%; float:left;">
                                    <img class="image-preview" src="{{ asset(field.metaValue) | apply_filter('my_thumb') }}"/>
                                </div>
                            {% endif %}
                            <div class="file-chooser input-prepend" style="width:86%; margin-top:34px; margin-left:10px;">
                                <button data-toggle="modal" data-target="#file-list" type="button" class="btn"><i class="icon icon-file"></i>&hellip;</button>
                                <input type="text" name="{{ field.metaName }}" value="{{ field.metaValue }}" />
                            </div>
                        {% elseif field.metaType == 'file' %}
                            <div class="file-chooser input-prepend" style="width:94%">
                                <button data-toggle="modal" data-target="#file-list" type="button" class="btn"><i class="icon icon-file"></i>&hellip;</button>
                                <input type="text" name="{{ field.metaName }}" value="{{ field.metaValue }}" />
                            </div>
                        {% elseif field.metaType == 'video' %}
                            <input type="text" name="{{ field.metaName }}" value="{{ field.metaValue }}" class="control-label" />
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary pull-right" type="submit">Update Content</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>
