{% extends 'AdminBundle::admin-layout.html.twig' %}
{% set content_title = 'Edit '~entity_single %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path(index_route) }}" title="{{ entity_name }}">{{ entity_name }}</a>
    </li>
    <li class="active">{{ content_title }}</li>
{% endblock %}


{% block content -%}
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ content_title }}
                    <button class="btn btn-danger btn-sm pull-right" data-toggle="modal" data-target="#confirmDelete">Delete {{ entity_single }}</button>
                </h3>
                <div class="clearfix"></div>
            </div>
            <form class="form-horizontal" role="form" action="{{ path(update_route, {'id': entity.id}) }}" method="post" {{ form_enctype(form) }}>
            <input type="hidden" name="_method" value="PUT" />
                <div class="panel-body">
                    {% block body %}{% endblock %}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary pull-right" type="submit">Update</button>
                    <a class="btn pull-left" href="{{ path(index_route) }}">&larr;  Back to the list</a>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>{# panel #}
    </div>

    {# Confirm Delete Modal #}
    <form action="{{ path(delete_route, { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="confirmDeleteModalLabel">Are you sure?</h4>
                    </div>
                    <div class="modal-body">
                        Don't look back in anger, Make sure you want this gone forever!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>{# modal-content #}
            </div>{# modal-dialog #}
        </div>{# modal #}
    </form>
{% endblock %}
