{% extends 'AdminBundle::admin-layout.html.twig' %}
{% set content_title = entity_name %}

{% block breadcrumbs %}
    <li class="active">{{ content_title }}</li>
{% endblock %}


{% block content -%}
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="badge">{{ entities | length }}</span>    
                    {{ content_title }}
                    {% block new_link %}
                        <a class="btn btn-primary btn-sm pull-right" href="{{ path(new_route) }}">Add a {{ entity_single }}</a>
                    {% endblock %}
                </h3>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                {% if entities is not empty %}
                    <table id="{{ entity_selector }}" class="data-list table table-bordered table-striped table-hover">
                        {% block col_group %}
                            <colgroup>
                                <col style="width: 5%"/>
                                <col style="width: 95%"/>
                            </colgroup>
                        {% endblock %}

                        <thead>
                            <tr>
                                {% block table_head %}
                                    <th>Order</th>
                                    <th>Title</th>
                                {% endblock %}
                            </tr>
                        </thead>

                        <tbody>
                            {% for entity in entities %}
                                {% block body %}{% endblock %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert">
                        <i class="icon-exclamation-sign"></i>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {% block no_entities %}
                            No {{ content_title }} exist yet. Why don&rsquo;t you start by <a href="{{ path(new_route) }}">creating one</a>?
                        {% endblock %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    {% block additional_content %}{% endblock %}
    {% block seo_data %}{% endblock %}
{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="/js/admin/jquery.tablednd.js"></script>
    {% block page_scripts %}{% endblock %}
{% endblock %}
