{% extends 'AdminBundle::admin-layout.html.twig' %}
{% set content_title = 'New '~entity_single %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path(index_route) }}" title="{{ entity_name }}">{{ entity_name }}</a>
    </li>
    <li class="active">{{ content_title }}</li>
{% endblock %}


{% block content -%}
    <div class="col-xs-12">
        {% block form_info %}
            <form class="form-horizontal" role="form" action="{{ path(new_route) }}" method="post" {{ form_enctype(form) }}>
        {% endblock %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ content_title }}</h3>
            </div>
                <div class="panel-body">
                    {% block body %}{% endblock %}
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary pull-right" type="submit">Save</button>
                    <a class="btn pull-left" href="{{ path(index_route) }}">&larr;  Back to the list</a>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
