<div class="col-xs-12">
    <form class="form-horizontal" role="form" action="{{ path('admin_seo', {'adminRoute': admin_route, 'route': route}) }}" method="post" {{ form_enctype(seo_form) }}>
    <input type="hidden" name="_method" value="PUT" />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">SEO Information</h3>
            </div>
            <div class="panel-body">
                {{ form_errors(seo_form) }}
                <div class="form-group">
                    {{ form_label(seo_form.seoTitle) }}
                    {{ form_widget(seo_form.seoTitle, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(seo_form.seoKeywords) }}
                    {{ form_widget(seo_form.seoKeywords, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(seo_form.seoDescription) }}
                    {{ form_widget(seo_form.seoDescription, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{form_rest(seo_form) }}
            </div>
            <div class="panel-footer">
                <button class="btn btn-primary pull-right" type="submit">Update SEO</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>
