{% if app.session %}
    {% set current_user = app.session.get('user', null) %}
{% else %}
    {% set current_user = null %}
{% endif %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name=apple-mobile-web-app-capable content=yes>
        <meta name=apple-mobile-web-app-status-bar-style content=black>

        <title>{{ seo_title | default('Code Samples') }} | Code Samples</title>
        <meta name="description" content="{{ seo_desc | default('') }}" />
        <meta name="keywords" content="{{ seo_keys | default('') }}" />

        <!-- Facebook -->
        <meta property="og:title" content="Sample" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ app.request.uri }}" />
        <meta property="og:image" content="" />
        <meta property="og:site_name" content="Sample" />
        <meta property="og:description" content="Sample Code" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link href="/css/global/pushy.css" rel="stylesheet" />
        <link href="/css/global/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/global/jasny-bootstrap.min.css" rel="stylesheet" />
        <link href="/css/global/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="/css/global/chosen.min.css" rel="stylesheet" />
        <link href="/css/global/global.css" rel="stylesheet" />
        <link href="/css/global/ie.css" rel="stylesheet" />

        {% block stylesheets %}{% endblock %}

        <!--[if IE]><script type="text/javascript" src="/js/global/excanvas.min.js"></script><![endif]-->
        <script type="text/javascript" src="/js/global/modernizr.min.js"></script>

        {% block head_scripts %}{% endblock %}

    </head>

    <body>
        {% block header %}{% endblock %}

        <div class="container">
            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block footer %}{% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!--[if IE]><script type="text/javascript" src="/js/global/respond.js"></script><![endif]-->
        <script type="text/javascript" src="/js/global/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/global/jasny-bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/global/underscore.js"></script>
        <script type="text/javascript" src="/js/global/backbone.js"></script>
        <script type="text/javascript" src="/js/global/chosen.min.js"></script>
        <script type="text/javascript" src="/js/global/pushy.js"></script>
        <script type="text/javascript" src="/js/global/analytics.js"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
