{% extends '::base.html.twig' %}

{% block title %}Index Page{% endblock %}

{% block body %}
    <h2>{{ page_name }}</h2>
    <p>{{ global_variable }}</p>


    <h3>Person list</h3>
    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Birthday</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td>{{ person.position }}</td>
                <td>{% if person.birthday %}{{ person.birthday|date('m/d/Y') }}{% endif %}</td>
                <td>
                <ul style="display:inline;">
                    <li style="display:inline;">
                        <a href="{{ path('person_edit', { 'id': person.id }) }}">Edit</a>
                    </li>
                    <li style="display:inline;"> | </li>
                    <li style="display:inline;">
                        <a href="{{ path('person_new') }}">
                            New
                        </a>
                    </li>

                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
    </ul>
{% endblock %}
