{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Edit Person</h1>

    <form novalidate action="{{ path('person_update', {'id': entity.id}) }}" method="Post">
        {{ form_widget(edit_form) }}
        <button type="submit">Submit</button>
    </form>

    <ul class="record_actions">
        <li>
            <form action="{{ path('person_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger btn-mini" type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
