{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Person creation</h1>

    <form novalidate action="{{ path('person_new') }}" method="Post">
        {{ form_widget(form) }}
        <button type="submit">Submit</button>
    </form>

{% endblock %}
