{% extends 'AdminBundle:Templates:edit-template.html.twig' %}

{% block body %}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.metaName) }}
        {{ form_widget(form.metaName, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.metaValue) }}
        {{ form_widget(form.metaValue) }}
    </div>
    <div class="form-group">
        {{ form_label(form.metaType) }}
        {{ form_widget(form.metaType, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{form_rest(form) }}
{% endblock %}
