{% extends 'AdminBundle:Templates:index-template.html.twig' %}

{% block new_link %}{% endblock %}

{% block no_entities %}
    No {{ content_title }} exists yet. Why don&rsquo;t you start by creating one form the list below?
{% endblock %}

{% block col_group %}
    <colgroup>
        <col style="width: 45%"/>
        <col style="width: 50%"/>
    </colgroup>
{% endblock %}

{% block table_head %}
    <th>Route</th>
    <th>Meta Name</th>
{% endblock %}


{% block body %}

    <tr id="route-meta-{{entity.id}}">
        <td class="order" style="display:none;">{{ entity.fieldOrder }}</td>
        <td class="route">{{ entity.route | title }}</td>
        <td class="meta-name"> 
            <a href="{{ path(edit_route, { 'id': entity.id }) }}">{{ entity.metaname }}</a></td>
        </td>
    </tr>
{% endblock %}

{% block additional_content %}
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="badge">{{ routes | length }}</span>    
                    All Routes
                </h3>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover">
                    <colgroup>
                        <col style="width: 35%"/>
                        <col style="width: 65%"/>
                    </colgroup>

                    <thead>
                        <tr>
                            <th>Route</th>
                            <th>Route URL</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for route in routes %}
                            <tr>
                                <td class="route">
                                    <a href="{{ path(new_route, {'route': route.name }) }}">{{ route.name }}</a>
                                </td>
                                <td class="url">{{ route.path }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

{% block page_scripts %}
<script>
    $('.data-list').tableDnD({
        onDrop: function(table, row) {
            $.ajax('{{ path('admin_routes_reorder') }}', {
                type: 'POST',
                data: $.tableDnD.serialize(),
                success: function () {
                    $(table).find('td.order').each(function (i) {
                        $(this).text(i + 1);
                    });
                }
            });
        }
    });
</script>
{% endblock %}
