{% extends 'AdminBundle:Templates:new-template.html.twig' %}


{% block form_info %}
    <form class="form-horizontal" role="form" action="{{ path(new_route, {'route': route }) }}" method="post" {{ form_enctype(form) }}>
{% endblock %}

{% block body %}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.metaName) }}
        {{ form_widget(form.metaName, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.metaValue) }}
        {{ form_widget(form.metaValue) }}
    </div>
    <div class="form-group">
        {{ form_label(form.metaType) }}
        {{ form_widget(form.metaType, {'attr': {'class': 'form-control'}}) }}
    </div>

    {{form_rest(form) }}
{% endblock %}
