<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name=apple-mobile-web-app-capable content=yes>
        <meta name=apple-mobile-web-app-status-bar-style content=black>

        <title>{{ seo_title | default('Admin') }}</title>
        <meta name="description" content="{{ seo_desc | default('') }}" />
        <meta name="keywords" content="{{ seo_keys | default('') }}" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/admin/admin.css" />

        {% block stylesheets %}{% endblock %}
        {% block head_scripts %}{% endblock %}
    </head>

    <body>
        <header>
            {% block header %}
                <div class="container">
                    <div class="row">
                        <div class="col-xs-6">
                            <h1><a href="{{ path('admin') }}" title="Home">Dashboard</a></h1>
                        </div>
                        <div class="col-xs-6">
                            <ul class="nav nav-pills pull-right">
                                <li><a class="btn btn-inverse" href="{{ path('home') }}" title="Home">Site Home</a></li>
                                <li><a class="btn-btn-inverse" href="{{ path('fos_user_security_logout') }}" title="logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </header>

        <div class="container">
            <div class="row">
                {%block errors %}
                    {% if app.session.flashbag.has('error') or app.session.flashbag.has('success') %}
                        {% for error_message in app.session.flashbag.get('error') %}
                            <div class=" alert alert-error">
                                {{ error_message }}
                            </div>
                        {% endfor %}

                        {% for success_message in app.session.flashbag.get('success') %}
                            <div class="alert alert-success">
                                {{ success_message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock %}

                <div class="col-xs-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="{% if app.request.attributes.get('_route') == 'admin' %}active{% endif %}">
                            <a class="red" href="{{ path('admin') }}" title="Admin home">Admin home</a>
                        </li>
                        <li class="dropdown">
                            <a class="red" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                  Content <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="{% if app.request.attributes.get('_route') == 'admin_home' %}active{% endif %}">
                                    <a href="{{ path('admin_home') }}" title="Home">Home</a>
                                </li>
                                <li class="{% if app.request.attributes.get('_route') == 'admin_contact' %}active{% endif %}">
                                    <a href="{{ path('admin_contact') }}" title="Contact">Contact</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="red" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                  Global <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="{% if app.request.attributes.get('_route') == 'home' %}active{% endif %}">
                                    <a class="red" href="#FIXME">Header</a>
                                </li>
                                <li class="{% if app.request.attributes.get('_route') == 'home' %}active{% endif %}">
                                    <a class="red" href="#FIXME">Footer</a>
                                </li>
                            </ul>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'home' %}active{% endif %}">
                            <a class="red" href="#FIXME" title="Nav Menus">Nav Menus</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'home' %}active{% endif %}">
                            <a class="red" href="#FIXME" title="Media">Media</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-9">
                    <div class="col-xs-12">
                        <h2>{{ content_title | default('Dashboard') }}</h2>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12">
                        <ol class="breadcrumb">
                            <li class="{% if app.request.attributes.get('_route') == 'admin' %}active{% endif %}">
                                <a href="{{ path('admin') }}">Home</a>
                            </li>
                            {% block breadcrumbs %}{% endblock %}
                        </ol>
                    </div>
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        
        <footer>
            {% block footer %}
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3">
                            <h5>Custom CMS</h5>
                            <p>By Ian Eicholtz</p>
                        </div>
                        <div class="col-xs-5">
                            <ul class="nav nav-pills">
                                <li><a class="red" href="{{ path('home') }}" title="Home">Home</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-4">
                            <p>Copyright &copy; {{ "now" | date('Y') }} | Ian James Eicholtz</p>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script src="{{ asset('/bundles/ivoryckeditor/ckeditor.js') }}"></script>
        <script>
            CKEDITOR.replace( 'content-editor' , {
                customConfig: '/js/admin/ckeditor-config.js'
            });
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
